@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
$blueColor: #1adaf0;
$blueColor2: #0abebe;
$greyColor: #212121;
$greyLightColor: #333232;
$redColor: #f51414;
$greenColor: #4acf22;
$yellowColor: #caad08;
$blackColor: black;
$whiteColor: white;
$fontFamilyPoppins: 'Poppins', sans-serif;
$fontSize: 1em;
$fontSizeM: 1.2em;
$marginGrid: 10px;
$breakPointTablet: 768px;
$breakPointDesktop: 1140px;
