@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@400;700&display=swap');
$yellowColor: #0AB4C6;
$blackColor: black;
$whiteColor: white;
$fontFamily: 'Comic Neue', cursive;
$fontSize: 1em;
$marginGrid: 10px;
$breakPointTablet: 768px;
$breakPointDesktop: 1140px;

