<aside>
  <h2>Episodios</h2>
  <div class="grid">
    <!-- este es el article para episodios-->
    <article class="col-12 col-t-6 col-d-3">
      <h3>Titulo del episodio</h3>
      <ul>
        <li>Lanzamiento:</li>
        <li>Codigo:</li>
      </ul>
    </article>

    <!-- este es el article para localizaciones-->
    <article class="col-12 col-t-6 col-d-3">
      <h3>Titulo de la localizacion</h3>
      <ul>
        <li>Tipo:</li>
        <li>Dimension:</li>
      </ul>
    </article>
  </div>
</aside>
