@import 'variables';

.content {
  //background-color: $greyColor;
  color: $whiteColor;
  background-image: url('../../../assets/images/background-rickandmorty.jpg');
  height: calc(100vh + 88px);
  background-size: cover;
  border: 2px solid $greyLightColor;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  h1 {
    font-size: $fontSize * 2.5;
    margin-bottom: 20px;
    font-weight: 700;
  }
}