@import "variables";


.logo {
  //border-bottom:  2px solid $whiteColor;
  margin-bottom: 20px;
  width: auto;
}

nav {
  .personajes li {
    cursor: pointer;
    color: $whiteColor;
    //font-size: 90%;
    font-weight: 700;
    padding: 10px;
    transition: 0.5s;
    &:hover {
      background-color: $blueColor2;
      color: $greyLightColor;
    }
  }

  .personajes .active {
      background-color: $blueColor2;
      color: $greyLightColor;
  }
  .botones {
    display: flex;
    justify-content: space-between;
    text-align: center;
    div {
      width: 100%;
      margin: 0 2%;
      border: 1px solid $blueColor2;
      border-radius: 10px;
      color: $blueColor;
      padding: 10px;
      cursor: pointer;
      margin-top: 10px;
      transition: 0.5s;
      &:hover {
        border: 1px solid $blueColor;
        color: $greyColor;
        background-color: $blueColor;
        font-weight: 700;
      }
    }
  }
}
