<section class="personView">
  <h2>{{character?.name}}</h2>
  <div class="grid">
    <figure class="col-12 col-t-3">
      <img
        [src]="character?.image"
        [alt]="character?.name">
    </figure>
    <div class="col-12 col-t-9">
      <ul>
        <li>Specie: <span>{{character?.species}}</span></li>
        <li>Gender: <span>{{character?.gender}}</span></li>
        <li>Status: <span [ngClass]="{'dead': character?.status === 'Dead', 'alive': character?.status === 'Alive', 'unknown' : character?.status === 'unknown'}" >{{character?.status}}</span></li>
      </ul>
    </div>
  </div>
  <hr>
  <nav>
    <ul class="submenu">
      <li routerLinkActive="active" [routerLink]="['/character', character?.id, 'episodes']">Episodes</li>
      <li [routerLink]="['/character', character?.location, 'locations']" >Locations</li>
    </ul>
  </nav>
  <router-outlet></router-outlet>
</section>
