<section class="personView">
  <h2>{{character?.name}}</h2>
  <div class="grid">
    <figure class="col-12 col-t-3">
      <img
        [src]="character?.image"
        [alt]="character?.name">
    </figure>
    <div class="col-12 col-t-9">
      <ul>
        <li>Specie: <span>{{character?.species}}</span></li>
        <li>Gender: <span>{{character?.gender}}</span></li>
        <li>Status: <span [ngClass]="{'dead': character?.status === 'Dead', 'alive': character?.status === 'Alive', 'unknown' : character?.status === 'unknown'}" >{{character?.status}}</span></li>
      </ul>
    </div>
  </div>
  <hr>
  <nav>
    <ul class="submenu">
      <li>Episodes</li>
      <li>Locations</li>
    </ul>
  </nav>
  <aside>
    <h2>Episodios</h2>
    <div class="grid">

      <!-- este es el article para episodios-->
      <article class="col-12 col-t-6 col-d-3">
        <h3>Titulo del episodio</h3>
        <ul>
          <li>Lanzamiento:</li>
          <li>Codigo:</li>
        </ul>
      </article>


      <!-- este es el article para localizaciones-->
      <article class="col-12 col-t-6 col-d-3">
        <h3>Titulo de la localizacion</h3>
        <ul>
          <li>Tipo:</li>
          <li>Dimension:</li>
        </ul>
      </article>

    </div>
  </aside>
</section>
