@import "variables";
@import "grid";

.personView {
  border: 2px solid $blackColor;
  padding: 20px;
  height: auto;
  h2 {
    margin: 20px 0;
    text-decoration: underline;
    font: {
      size: $fontSize * 1.5;
      weight: 700;
    }
  }
  ul li {
    margin: 5px 0;
    span {
      font-weight: 700;
    }
  }
  nav .submenu {
    display: flex;
    li {
      width: 100%;
      background-color: $greyLightColor;
      color: $whiteColor;
      padding: 10px 25px;
      border-right: 1px solid $whiteColor;
      //border: 1px solid $greyLightColor;
      cursor: pointer;
      &:hover {
        background-color: $blueColor;
        color: $greyColor;
      }
    }
  }
  aside .grid {
    article {
      background-color: $greyLightColor;
      border: 2px solid $blueColor2;
      color: $whiteColor;
      padding: 20px;
      h3 {
        color: $blueColor2;
        font-weight: 700;
      }
    }
  }
  .muerto {
    color: $redColor;
  }
  .vivo {
    color: $greenColor;
  }
  .nosesabe {
    color: $yellowColor;
  }
}
